.bemvindo{

  height: 30vh;
  display: flex;

  justify-content: center;
  align-items: center;

}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
padding-top: 5em;
animation-name: tcharam;
animation-duration: 2.5s;
}
@keyframes tcharam{
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.texto{
  text-align: center;
  display:inline;
  background: linear-gradient(to top,#F0E6EF,#8000FF,#5E0055);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
h1{

  font-family: Tahoma;

}
h2{

  font-family: Tahoma;

}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 100vw;
  background-color: #1A1D1A;
  text-align: justify;
  left: 0;
  right: 0;
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 0;
}

.footer a {
  font-family: Tahoma;
  color: #F0E6EF;
  padding: 14px 16px;
}

.footer a.split {
  margin-left: auto;
}

.footer .QrCode {
  width: 4vw;
  margin-right: 1em;
  transition: width 4s, height 4s;
}

/* .QrCode:hover{
  position: relative;
height: auto;
  width: 10vw;
}*/

/* codigo para aumentar o qr code(?) */

.navbar {
  background-color: #1A1D1A;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
}

.navbar a {
  font-family: Tahoma;
  float: left;
  font-weight: bold;
  color: #F0E6EF;
  text-align: center;
  padding: 14px 16px;
  margin-left: 0;
  margin-right: 0;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s;
}

.navbar a:hover {
  background-color: #8000FF;
  color: black;
}

.navbar a.active {
  background-color: #8000FF;
  color: #F0E6EF;
}

.navbar a.split {
  float: right;
  background-color: #8000FF;
  color: #F0E6EF;
}
.svg-icon {
  display: block;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  opacity: 0.5; /* Ajuste a opacidade conforme necessário */
  width: 20vw; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Ajuste o tamanho conforme necessário */
  margin-top: 0;
margin-left: auto;
margin-right: auto;
margin-bottom: 10vh;
filter: drop-shadow(0 0 0.75rem #8000FF); /*esquerda e direita, cima e baixo, blur,*/
}

.favicon{
  display: block;
  justify-content: center;
  align-items: center;
  width: 5vw;
  margin: auto;
  filter: drop-shadow(0 0 0.1rem #F0E6EF);
}
