<body>

<div class="navbar">
  <a href="">Home</a>
  <a href="">Decks</a>
  <a href="">Contact</a>
  <a href="">About</a>
  <a href="" class="split">login</a>
</div>

<div class="ConteudoPrincipal">
  <img src="/favicon.svg" class="favicon" alt="SVG fav">
<div class="bemvindo">
  <div class="texto">
<h1>Welcome to My Card Collection</h1>
<h2>Helping Magic The Gathering Players Build, Analyse, Compare, And Upgrade Decks, Our Site Focus On The Community Aspect Of Magic.
  <br>You Can Start Searching For A Card In Our Searchbar, Or Go Straight To The Deckbuilding Section Of Your Profile.
  <br>Be Free To Check Our Socials And Personnel, And Always Remember, Have A Good Game!
</h2>

</div>
</div>
<img src="/Group 1683.svg" class="svg-icon" alt="SVG Icon">
</div>
<div class="footer">
  <a href="">Contact Us</a>
  <a href="">Privacy Policy</a>
  <a href="">Legal Warning</a>
  <img src="/qr-code.png.jpg" class="QrCode" alt="QR">
  <a href="" class="split"><img src="/white.svg" alt="appleApp"></a>


</div>
</body>
