.bemvindo{

  height: 50vh;
  display: flex;

  justify-content: center;
  align-items: center;

}
.texto{
  text-align: center;
  display:inline;
  background: linear-gradient(to top,#F0E6EF,#FF00E5,#5E0055);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
h1{

  font-family: Tahoma;

}
h2{

  font-family: Tahoma;

}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  width: 100%;
  background-color: #1A1D1A;
  text-align: justify;
}
.footer a{
  font-family: Tahoma;
  color: #F0E6EF;
  padding: 14px 16px;
}
.footer a.split{
  float: right;
}

.navbar {
  background-color: #1A1D1A;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.navbar a {
  font-family: Tahoma;
  float: left;
  font-weight: bold;
  color: #F0E6EF;
  text-align: center;
  padding: 14px 16px;
  margin-left: 0;
  margin-right: 0;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #FF00E5;
  color: black;
}

.navbar a.active {
  background-color: #FF00E5;
  color: #F0E6EF;
}

.navbar a.split {
  float: right;
  background-color: #FF00E5;
  color: #F0E6EF;
}
.svg-icon {
  display: block;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  opacity: 0.5; /* Ajuste a opacidade conforme necessário */
  width: 400px; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Ajuste o tamanho conforme necessário */
  margin-top: 0;
margin-left: auto;
margin-right: auto;
margin-bottom: 10vh;
filter: drop-shadow(-5px 5px 10px #5E0055);
}

.QrCode{
 float: right;

 object-fit: contain;
}
