.bemvindo{

  height: 50vh;
  display: flex;

  justify-content: center;
  align-items: center;

}
.texto{
  text-align: center;
  display:inline;
  background: linear-gradient(to top,#F0E6EF,#FF00E5,#5E0055);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
h1{

  font-family: Tahoma;

}
h2{

  font-family: Tahoma;

}
