
body{
  height: 100%;
  background-color: #0f0f0c;
}
::-webkit-scrollbar {
  width: 12px; /* Largura da scrollbar */

}

::-webkit-scrollbar-track {
  background: #1A1D1A; /* Cor do fundo da scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #8000FF; /* Cor da barra de rolagem */
  border-radius: 6px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb:hover {
  background: #5E0055; /* Cor ao passar o mouse */
}
